@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
.navREd {
  display: flex;
  text-align: center;
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: #baabda;
}
.imgAmigos {
  width: 40%;
}
.titulo {
  font-size: 40px;
  width: 60%;
  background-color: #baabda;
  color: #eee;
  margin-top: 100px;
  font-family: 'Inter', sans-serif;
}
.red {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-family: "Inter", sans-serif;
  padding: 12px 15em 0 5em;
  gap: 25px;
  .parrafo {
    margin-top: 20px;
    width: 100%;
    font-family: 'Inter', sans-serif;
  
  //   padding-right: 10px;
  }
}

.containerAmigos {
  display: flex;
  flex-direction: column;
//   align-items:flex-start;
//   justify-content: center;
 
}
.formulario {
  width: 250px;
  
  margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: #baabda 1px solid;
    label {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
  }

  .boton{
    background-color:#041C32;
    margin-bottom: 5px;
    color: #eee;
    border-radius: 5px;
    width: 55px;
    height: 35px;
  }
  // select,
   textarea,
  .group {
      display: block;
      font-size: 1.6rem;
      font-weight: 300;
      padding: 1rem;
      margin: 1rem auto;
      // width: 100%;
      border: 1px solid #777;
      border-radius: 3px;
      outline: none;
  }

  }
  @media screen and (max-width: 700px) {
    .imgAmigos {
       display: none;
       padding: 0;
      }
      .parrafo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
      
      //   padding-right: 10px;
      }
}
@media screen and (max-width: 470px) {
    .parrafo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 250px;
        padding: auto;
      
      //   padding-right: 10px;
      }
      .red {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        font-family: "Inter", sans-serif;
        padding: 15px;
        gap: 25px;
      }
}