@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.cardDetails{
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.cardImg{
    position: relative;
    right: 150px;
    top: 1px;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid rgb(94, 140, 240);
    background-color: rgb(250, 250, 252);
    width: 250px;
    height: 250px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.titulo{
    position: relative;
    right: -520px;
    top: -130px;
}

.enunciado{
    position: relative;
    right: 75px;
    top: 13px;
}

@media screen and (max-width: 768px) {
    .cardDetails{
        flex-direction: column;
    }

    .cardImg{
        margin: 0 auto;
        right: 0;
        top: 0;
        width: 100%;
        max-height: 250px;
        height: auto;
    }

    .titulo{
        position: static;
        margin-top: 20px;
    }

    .enunciado{
        position: static;
        margin-top: 10px;
    }
}


// .product {
//     .card {
//         padding: 1rem;
//         margin-top: 1rem;
//     }

//     .review {
//         border-top: 1px solid #ccc;
//     }

//     .details {
//         padding-top: 2rem;
//         display: flex;

//         .img {
//             width: 45%;
//             border: 1px solid #ccc;
//             border-radius: 3px;

//             img {
//                 width: 100%;
//             }
//         }

//         .content {
//             width: 55%;
//             padding: 0 5px;

//             &>* {
//                 margin-bottom: 1rem;
//             }

//             .price {
//                 color: orangered;
//                 font-weight: 500;
//             }

//             .count {
//                 display: flex;
//                 align-items: center;

//                 &>* {
//                     margin-right: 1rem;
//                 }
//             }
//         }
//     }
// }
// .hidden{
//     display: none;
// }

// @media screen and (max-width: 700px) {
//     .product {
//         .details {
//             flex-direction: column;

//             .img {
//                 width: 100%;
//             }

//             .content {
//                 width: 100%;
//             }
//         }
//     }
// }