.search {
    margin: 5px 0;
    position: relative;
    flex: 1;
    background-color: aqua;

    .icon {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    input[type="text"] {
        display: block;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem;
        padding-left: 3rem;
        margin: 1rem auto;
        width: 100%;
        border: 1px solid #777;
        border-radius: 3px;
        outline: none;
    }
    
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body{
    font-size: small;
    font-family: 'Raleway', sans-serif;
}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;


    .containerCard{
        width: 100px;
        height: 50px;
        
    }
    .cardImg{
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
    
}
